/*~~~~~~~~~~~~~~~GENERAL~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html, body{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
}

/*~~~~~~~~~~~~~~~SCENE~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#scene{
    max-height: 100vh;
    margin: auto;
    position: relative;
    display: block;
}

/*~~~~~~~~~~~~~~~~~~BTNs~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#close{
    width : 35px;
    position: absolute;
    z-index: 10;
    top:2rem;
    right:2rem;
    visibility: hidden;
}

#fullscreen{
    width : 50px;
    position: absolute;
    z-index: 10;
    top:2rem;
    left:2rem;
}

/*~~~~~~~~~~~~~~~~~CLUES~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.clues{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    z-index: 3;
}

/*~~~~~~~~~~~~~~~INTERFACE~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.ui{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90vw;
    max-height: 90vh;
    z-index: 5;
}